body{
  width:100%;
}

.container {
  width:600px;
  color: blue;
  margin:0 auto;
}

#board{
  width:100%;
}

#board tr td {
  width:33%;
  height:200px;
  border: 1px solid #000000;
}

.cell {
  width:33%;
  height:200px;
  border: 1px solid #000000;
  float:left
}